@model List<RecomendacionAnalysis.MLModel1.ModelOutput>
@{
    ViewData["Title"] = "An치lisis de Rating de Productos";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<form asp-controller="ML" asp-action="Predict" method="post">
    <div class="form-group fw-bold">
        <p></p>
        <label for="user">Escribe el UsuarioID</label>
        <input type="text" class="form-control" id="user" name="user" />
    </div>
    <div class="form-group fw-bold">
        <p></p>
        <p></p>
        <p></p>
        <p></p>

        <label for="prod">Escribe el ProductoID:</label>
        <input type="text" class="form-control" id="prod" name="prod" />
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <button type="submit" class="btn btn-dark">Obtener Rating</button>
</form>
@if (ViewData["Recomendacion"] != null)
{
    <h2>Resultado de la Predicci칩n</h2>
    <p>Recomendaci칩n Predicho: @ViewData["Recomendacion"]</p>
    <p>Recomendaci칩n Score: @ViewData["Score"]</p>

}

